<h1>{{header}}</h1>
<div class='route-trends__viz'>
  <h2>Weekly Rides</h2>
  <div id='daily-ridership-trend__viz'></div>
  <div class='route-trends__day-legend'>{{day-legend}}</div>
</div>
<div class='route-trends__viz'>
  <h2>Rides per Service Hour</h2>
  <div id='service-hour-trend__viz'></div>
  <div class='route-trends__day-legend'>{{day-legend}}</div>
</div>
{{yield}}
