<div class='title'>High-Ridership Routes <span class='title--subtle'>Top 10</span></div>
{{#each topData as |routeTrend|}}
  <div class='chart-header'>{{routeTrend.routeName}}</div>
  <div id={{routeTrend.selector}}></div>
{{/each}}
