<div class='title'>Top 10 <span class='title--subtle'>Rides by Day of Week</span></div>
{{#each topData as |routeTrend|}}
  <div class='chart-header'>{{routeTrend.routeName}}</div>
  <div id={{routeTrend.selector}}></div>
{{/each}}
