<div class='title'>Top 10 <span class='title--subtle'>Weekly Rides</span></div>
{{#each routeCompendiums as |routeCompendium|}}
  <div class='chart-header'>{{routeCompendium.routeName}}</div>
  <div id={{routeCompendium.selector}}></div>
{{/each}}
