@import 'normalize';
@import 'skeleton';

// Table of Contents
//
// 1. Sass Vars
// 2. Globals
// 3. Template BEM
// ---- universal blocks
// ---- about
// ---- app
// ---- index
// ---- productivity-scatter
// ---- ridership-sparklines
// ---- route-performance
// ---- route-trends
// ---- service-legend
// ---- service-selector
// ---- system
// 4. Media Queries

// 1. Sass Vars

$font-size-xl: 28px;
$font-size-lg: 22px;
$font-size-md: 16px;
$font-size-sm: 10px;

// 2. GLOBALS

.nvd3 text {font-size: 11px;}
.nv-axis text {font-size: 11px;}

// 3. TEMPLATE BEM

// ---- Universal blocks

.chart-header {
  font-size: $font-size-md;
  font-family: Trebuchet MS, Verdana, sans-serif;
  padding-left: 4px;
}

.title {
  margin: 0;
  padding: 10px 0;
  font-size: $font-size-xl;
}

.title--subtle {
  color: #bbb;
}

//---- about template blocks
.about {font-size: 18px; max-width: 700px; margin: 0 auto;}

// ---- app template blocks
.app {min-height: 800px;padding-bottom: 50px;}

.app__nav-brand {height: 54px; margin: 0; padding: 10px 0px; position: relative;}
.app__nav-brand__logo {width: 50px; display:inline-block; margin: 0 2px; padding: 0px;}
.app__nav-brand__app-name {display: inline-block; margin: 0px; padding: 0px;}
.app__nav-brand__app-name a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  height: 54px;
  margin-top: -19px;
}
.app__nav-brand__app-name a:focus {text-decoration: underline;}
.app__nav-brand__app-name a:hover {text-decoration: underline;}

.app__nav-links {
  list-style-type: none;
  margin: 0px;
  padding: 10px 10px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
}

.app__nav-links__item {
  font-size: 16px;
  margin: 5px 5px;
}

.app__nav-links__item a:link {color: #FF4C6D; text-decoration: none}
.app__nav-links__item a:visited {color: #FF4C6D; text-decoration: none}
.app__nav-links__item a:focus {color: #cfcfcf; text-decoration: underline}
.app__nav-links__item a:hover {color: #cfcfcf; text-decoration: underline}
.app__nav-links__item a:active {color: #8ED4FA; text-decoration: none}

.app__disclaimer {
  font: 10px monospace;
  margin: 50px 0;
  padding: 0 20px;
  text-align: left;
}
// ---- productivity-scatter

.productivity-scatter__axis {
 font: 9px sans-serif;
}

.productivity-scatter__axis line,
.productivity-scatter__axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.productivity-scatter__data-row {
  font-size: 11px;
  margin-left: 30px;
}

.productivity-scatter__data-title {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 2px;
}

text.productivity-scatter__point-route {
  font: 11px sans-serif;
}

button.productivity-scatter__detail-toggle {
  font-size: 10px;
  margin-left: 25px;
  padding: 0 10px;
}

text.productivity-scatter__x-label {
  fill: #D62B3F;
}

text.productivity-scatter__y-label {
  fill: #1B2BDE;
}

// ---- productivity-squares

.productivity-squares__data-row {
  font-size: 11px;
  margin-left: 30px;
}

.productivity-squares__data-title {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-left: 25px;
  margin-bottom: 2px;
}

.productivity-squares__date {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

button.productivity-squares__detail-toggle {
  font-size: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.productivity-squares__legend {
  margin: 10px 0 20px 25px;
  font-size: 11px;
}

.productivity-squares__legend-entry {
  font: 11px Century Gothic, Arial, sans-serif;
  display: inline-block;
  margin: 0 1px;
  padding: 4px;
  text-align: center;
  width: 35px;
}

.productivity-squares__vis-container {
  margin-top: 40px;
  margin-left: 25px;
}

text.productivity-squares__count-label {
  fill: #333;
  font-size: 11px;
}

// ---- ridership-sparklines

.ridership-sparkline-container {
  font: 9px sans-serif;
  display: inline-block;
  margin: 10px 0;
}

.ridership-sparkline__latest-value {
  font: 11px sans-serif;
  fill: #444;
}

.ridership-sparkline {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.ridership-sparkline__impact {
  fill: #f00;
  stroke: none;
}

.ridership-sparkline__route-name {
  font: 11px Verdana, sans-serif;
  margin-left: 15px;
  text-align: left;
}

.ridership-sparkline__more {
  margin-left: 4px;
}

.ridership-sparkline__route-name a:link {color: #FF4C6D; text-decoration: underline}
.ridership-sparkline__route-name a:visited {color: #FF4C6D; text-decoration: underline}
.ridership-sparkline__route-name a:focus {color: #cfcfcf; text-decoration: underline}
.ridership-sparkline__route-name a:hover {color: #cfcfcf; text-decoration: underline}
.ridership-sparkline__route-name a:active {color: #8ED4FA; text-decoration: none}


.ridership-sparkline__y-axis path,
.ridership-sparkline__y-axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.ridership-sparkline__units {
  font: 11px sans-serif;
  fill: #333;
}

// ---- route-performance

.route-performance__about {
  font-size: 14px;
  margin: 0;
  padding-left: 4px;
}

.route-performance__about__fact {
  margin: 2px 0;
  padding-left: 4px;
}

.route-performance__about__title {
  font-size: 18px;
  margin: 2px 0;
}

// ---- route-trends

.route-trends__viz {
  margin: 20px 0px;
}

// ---- service-legend

.service-legend {
  display: inline-block;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.service-legend__entry {
  color: white;
  display: inline;
  font-size: $font-size-sm;
  padding: 1px 2px;
  margin: 0.5px;
}

// ---- service-selector

.service-selector {
  margin: 20px 0px 10px 0px;
}
.service-selector__option {
  background-color: #FF4C6D;
  color: white;
  display: inline-block;
  font-size: $font-size-md;
  padding: 4px 8px;
  margin: 4px;
}

.service-selector__instructions {
  padding: 0 0 0 4px;
}

.service-selector__option a:link {color: white; text-decoration: none}
.service-selector__option a:visited {color: white; text-decoration: none}
.service-selector__option a:focus {color: #FFB2BE; text-decoration: underline}
.service-selector__option a:hover {color: #efefef; text-decoration: underline}
.service-selector__option a:active {color: #FFB2BE; text-decoration: none}

// ---- system

.system__ridership-sparklines {
  text-align: center;
}

// 4. MEDIA QUERIES

/* Larger than mobile */
@media (min-width: 400px) {
}


/* Larger than phablet */
@media (min-width: 550px) {
  .app__nav-links {float: right; border-top: 0px; border-bottom: 0px; padding: 21px 0px 10px 0px;}
  .app__nav-links__item {font-size: 11px; display: inline; margin: 2.5px}
}

/* Larger than tablet */
@media (min-width: 750px) {
  .app__nav-links {float: right; border-top: 0px; border-bottom: 0px; padding: 21px 0px 10px 0px;}
  .app__nav-links__item {font-size: 14px; display: inline; margin: 5px;}
}

/* Large enough for charts to include interactive legend */
@media (min-width: 768px) {
  .nv-axis text {font-size: 12px;}
  // hides static legend
  .service-legend__entry {display: none;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .app__nav-links__item {font-size: 16px; display: inline;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
