<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Capmetrics Web Docs</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/normalize.css">
    <link type="text/css" rel="stylesheet" href="styles/skeleton.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main" class='container'>
  <div class='row'>
    <div class='eight columns'>


      <div style='position: relative; height: 60px;'>
        <div style='display: inline-block; position: absolute; height: 50px; top: 50%; padding: 0px; margin: -25px 0px 0px 0px;'>
          <img src='styles/logo.png' style='width:50px;'/>
        </div>
        <p style='display: inline-block; font-size: 18px; position:absolute; height: 30px;top: 50%; left: 55px; padding: 0px; margin: -15px 0px 0px 0px;'>Capmetrics Web App</p>
      </div>
      <h1 class="page-title"><?js= title ?></h1>

      <?js= content ?>

    </div>
    <div class='four columns'>
      <nav>
          <?js= this.nav ?>
      </nav>
    </div>
  </div>
  <div class='row'>
    <div class='twelve columns'>
      <br class="clear">
      <footer>
          Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
      </footer>
    </div>
  </div>
</div>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
