<div class='row'>
  <div class='twelve columns'>
    <div class='about'>
      <p>Capmetrics visualizes performance trends for the central Texas region's Capital Metro Transportation Authority.</p>
      <p>Capmetrics is a project of Julio Gonzalez Altamirano.</p>
      <p>The code for the overall Capmetrics project - <a href='http://github.com/jga/capmetrics-etl' targe='_blank'>ETL application</a>, <a href='http://github.com/jga/capmetrics-api' target='_blank'>API server</a>, and <a href='http://github.com/jga/capmetrics-web' target='_blank'>web application</a> - is available under the MIT <a href='http://choosealicense.com/licenses/' target='_blank'>license</a>.</p>
    </div>
  </div>
</div>
{{outlet}}
