<div class='row'>
  <div class='twelve columns'>
    <div class='about'>
      <p>Capmetrics visualizes performance trends for the central Texas region's Capital Metro Transportation Authority.</p>
      <p>Capmetrics is a project of Julio Gonzalez Altamirano.</p>
    </div>
  </div>
</div>
{{outlet}}
