<div class='container app'>
  <div class='row'>
    <div class='five columns'>
      <div class='app__nav-brand'>
        <img class='app__nav-brand__logo'  src='assets/images/capmetrics-logo.png'/>
        <div class='app__nav-brand__app-name'>{{#link-to 'index'}}Capmetrics{{/link-to}}</div>
      </div>
    </div>
    <div class='seven columns'>
        <ul class='app__nav-links'>
          <li class='app__nav-links__item'>{{#link-to 'system'}}SYSTEM{{/link-to}}</li>
          <li class='app__nav-links__item'>{{#link-to 'routes'}}ROUTES{{/link-to}}</li>
          <li class='app__nav-links__item'>{{#link-to 'about'}}ABOUT{{/link-to}}</li>
        </ul>
    </div>
  </div>
  {{outlet}}
  <div>
    <div class='row'>
      <div class='twelve columns'>
        <p class='app__disclaimer'>Capmetrics is not affiliated, endorsed, or supported by the Capital Metro Transportation Authority. Capmetrics is an independent visualization and analytics demonstration project.</p>
      </div>
    </div>
  </div>
</div>
