<div class='row'>
  <div class='twelve columns'>
    <h5 class='index__title'>System Ridership <span style='color: #d3d3d3'>Weekly</span></h5>
    {{viz-area-trend trends=model.trends vizId=systemVizSelector}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    <div class='index__service-colors'>
      <div class='index__service-color' style='background-color: red'>CORE - METRORAIL</div>
      <div class='index__service-color' style='background-color: #679ECF;'>CORE - METRORAPID</div>
      <div class='index__service-color' style='background-color: #649dce;'>CORE - LIMITED</div>
      <div class='index__service-color' style='background-color: #5190c8;'>CORE - RADIAL</div>
      <div class='index__service-color' style='background-color: #3d84c2;'>CORE - FEEDER</div>
      <div class='index__service-color' style='background-color: #3777ae;'>CORE - EXPRESS/FLYERS</div>
      <div class='index__service-color' style='background-color: #77a9d4;'>CORE - CROSSTOWN</div>
      <div class='index__service-color' style='background-color: #8bb5da;'>SPECIAL - REVERSE COMMUTE</div>
      <div class='index__service-color' style='background-color: #9ec1e0;'>SPECIAL - RAIL CONNECTORS</div>
      <div class='index__service-color' style='background-color: #b1cee7;'>SPECIAL - EBUS</div>
      <div class='index__service-color' style='background-color: #0099e6;'>SPECIAL - NIGHT OWLS</div>
      <div class='index__service-color' style='background-color: #0088cc;'>SPECIAL - SENIOR</div>
      <div class='index__service-color' style='background-color: #00aaff;'>UT - CIRCULATORS</div>
      <div class='index__service-color' style='background-color: #1ab2ff;'>UT - RADIALS</div>
      <div class='index__service-color' style='background-color: green'>OTHER</div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    {{top-routes topData=model.topRoutes}}
  </div>
</div>
{{outlet}}
