<div class='row'>
  <div class='twelve columns'>
    {{system-trend trends=model.systemTrends vizId=systemVizSelector}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    {{service-legend}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    <div class='title'>System Routes <span class='title--subtle'>Rides by Day of Week</span></div>
    <div class='system__ridership-sparklines'>
      {{ridership-sparklines compendiums=model.compendiums}}
    </div>
  </div>
</div>
{{outlet}}
