<div class='row'>
  <div class='twelve columns'>
    {{system-trend trends=model vizId=systemVizSelector}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    {{service-legend}}
  </div>
</div>
{{outlet}}
